@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format("woff2");
  font-named-instance: "Italic";
}

body {
  font-family: "Inter var", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: "case" 1, "cpsp" 1, "dlig" 1, "cv01" 1, "cv02",
    "cv03" 1, "cv04" 1;
  font-variation-settings: "wght" 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: "wght" 650;
}
h1 {
  font-variation-settings: "wght" 850;
}
h2 {
  font-variation-settings: "wght" 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

img.next-image:hover {
  cursor: pointer;
  transform: scale(1.05);  
  transition: transform 0.3s ease;
}

img.next-image:focus {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

.pictures-grid-showcase{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pictures-grid-showcase img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.25rem;
}

.socials-bar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* push to bottom of screen */
  margin-top: auto;
}

/* Show for mobile */
@media only screen and (max-width: 600px) {
    .custom-badge-container {
      position: relative;
      /* display: inline-block; */
    }
  
  .custom-badge {
    align-items: center;
    position: absolute;
    bottom: 15%;
    right: 27%;
    background-color: #a8d7b1; 
    color: white;
    border-radius: 50%;
    border: 1px solid #121212;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 14px;
    font-weight: bold;
  }  
}

/* Hide for desktops */
@media only screen and (min-width: 600px) {
  .custom-badge {
    display: none;
  }
}

.github-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.github-item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}